/* .abc{
    font-family: 'Courier New', Courier, monospace;
}

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playwrite-de-grund-guides-regular {
  font-family: "Playwrite DE Grund Guides", cursive;
  font-weight: 400;
  font-style: normal;
}*/

/* .abc{
    font-size: large;
}*/

 /*.abc{
    font-size:50%;
}*/
/* .abc{
    font-size:50px;
}*/
 /*.abc{
    font-weight: 900;
}*/
/* .abc{
    font-style: italic;
}*/






/* .abc{
    text-transform: capitalize
}*/


/*.abc{
    text-transform: lowercase
}*/

/* .abc{
    text-transform: uppercase
}*/


/* a{
text-decoration: none;
}*/

/*h1{
   line-height: 20px; 
   background-color: aquamarine;
}*/
/* .abc{
    word-spacing: 20px;
}
.xyz{
    letter-spacing: 20px;
}*/
/* h1{
    text-align: center;
}*/

/* h1{
    text-align: right;
}*/
   /* h1{
        text-align: left;
    }*/
    