/* .main {
    background-color: black;
    height: 200px;
    padding: 5px;
    display: flex;
    /* flex-wrap: wrap; */
/* flex-direction: column; */
/* justify-content: space-evenly; */
/* align-items: flex-end; */
/* align-items: center; */

/* 
}

.child {
    width: 30px;
    height: 20px;
    margin: 5px;
    padding: 5px;
} */

/* .one {
    background-color: antiquewhite;
    /* order: 0; 
} */

/* .two {
    background-color: aqua;
    align-self: center;
    /* order: -1; 
} */

/* .three {
    background-color: brown;
}

.four {
    background-color: cadetblue;
}

.five {
    background-color: yellow;
}

.six {
    background-color: beige;
}

.seven {
    background-color: burlywood;
}

.eight {
    background-color: cadetblue;
}

.nine {
    background-color: red;
}

.ten {
    background-color: blue;
}

.eleven {
    background-color: green;
}

.twelve {
    background-color: yellowgreen;
}

.thirteen {
    background-color: palevioletred;
}

.fourteen {
    background-color: wheat;
}

.fifteen {
    background-color: lemonchiffon;
} */



/* ol {
 list-style-type: lower-roman;} */

/* ol { 
  list-style-type: upper-roman;} */

/* ol {
 list-style-type:upper-alpha;} */

/* ol {
 list-style-type: lower-alpha;} */

/* ol {
 list-style-type: decimal-leading-zero;} */

/* ol {
 list-style-type:decimal;} */

/* ol {
 list-style-type: disc;} */

/* ol {
 list-style-type: square;} */

/* ol {
 list-style-type: circle;} */